.content :where(p, ul, ol, dl, h1, h2, h3, h4, h5, h6) {
    max-width: var(--max-text-width);
}

/* Module: Headless container */
.headless-container {
    padding: var(--space-lg) var(--content-padding-inline) calc(var(--space-lg) * 2);
}

/* Module: Header container */
.content > .header-container {
    border-block-start: var(--line-base) solid var(--color-brand-a20);
    padding: var(--space-lg) var(--content-padding-inline) calc(var(--space-lg) * 2);
}

.content > .header-container .header-container:not(.h3) {
    margin-inline: calc(var(--content-padding-inline) * -1);
    padding-inline: var(--content-padding-inline);
}

* > .header-anchor {
    visibility: hidden;
    text-decoration: none;
    opacity: .5;
    font-size: calc(100% / var(--line-height-base));
}

* > .header-anchor:hover,
* > .header-anchor:focus{
    opacity: 1;
}

*:hover > .header-anchor {
    visibility: visible;
}

/* Module: Header container */
.header-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.header-container > .container:empty {
    display: none;
}

/* Module: Header container - level 2 */

.header-container.h2 > .header * {
    margin-bottom: 0;
}

/* Module: Header container - level 3 */
.header-container.h3 {
    border-inline: var(--line-base) solid var(--color-brand-a20);
    gap: var(--space-sm);
    padding-inline: var(--space-sm);
    padding-block-start: var(--space-xs);
    padding-block-end: 0;
}

.header-container.h3:first-of-type {
    border-block-start: var(--line-base) solid var(--color-brand-a20);
    border-radius: var(--radius-base) var(--radius-base) 0 0;
    padding-block-start: var(--space-sm);
}

.header-container.h3:last-of-type {
    border-block-end: var(--line-base) solid var(--color-brand-a20);
    border-radius: 0 0 var(--radius-base) var(--radius-base);
    padding-block-end: var(--space-sm);
}

.header-container.h3:first-of-type:last-of-type {
    border-radius: var(--radius-base);
}

.header-container.h3 h3 {
    background-color: var(--color-brand-a10);
    border-radius: var(--radius-half);
    color: var(--link-text-color);
    max-width: none;
    padding: var(--space-sm);
    padding-inline-end: var(--space-lg);
    position: relative;
}

.header-container.h3 h3:hover {
    cursor: pointer;
}

.header-container.h3 h3::after {
    border-color: var(--text-color-base);
    border-style: solid;
    border-width: var(--line-base) var(--line-base) 0 0;
    content: "";
    display: block;
    height: var(--space-xs);
    inset-block-start: var(--space-md);
    inset-inline-end: calc(.25rem + var(--space-md));
    position: absolute;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    transition: transform var(--duration-base);
    width: var(--space-xs);
}

.header-container.h3.active h3::after {
    transform: rotate(-45deg);
}

.header-container.h3.active > .container {
    display: block;
    margin-block-end: var(--space-md);
}

.header-container.h3 > .container {
    display: none;
}
