/* Basic elements */
html {
    background-color: var(--page-surface);
    scroll-padding-block-start: var(--header-height);
}

@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}

body {
    color: var(--text-color-base);
    font-family: var(--font-family-base);
    -webkit-font-smoothing: antialiased;
    line-height: var(--line-height-base);
    margin: 0;
}

p, figure, table, ul, ol, dl, pre, blockquote {
    margin: 0;
}

:where(p, table, ul, ol, dl, pre, blockquote, [data-fullscreen="false"]):not(:last-child) {
    margin-block-end: calc(var(--line-height-base) * 1rem) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-heading);
    font-family: var(--font-family-heading);
    line-height: var(--line-height-heading);
    margin: 0;
}

:where(h1, h2, h3, h4, h5, h6):not(:last-child) {
    margin-block-end: calc(var(--line-height-base) * .5em);
}

h1, .heading-size-1 {
    font-size: var(--heading-1-size);
}

h2, .heading-size-2 {
    font-size: var(--heading-2-size);
}

h3, .heading-size-3 {
    font-size: var(--heading-4-size);
}

h4, .heading-size-4 {
    font-size: var(--heading-5-size);
}

abbr[title] {
    border: 0;
    color: var(--link-text-color, currentColor);
    outline: 0;
}

abbr::after {
    background-color: var(--link-text-color);
    block-size: 1.5em;
    border-radius: var(--radius-circle);
    color: var(--color-white);
    content: 'i';
    cursor: text;
    display: inline-block;
    font-size: .5em;
    inline-size: 1.5em;
    inset-block-start: -.25em;
    line-height: 1.5em;
    margin-left: .5em;
    position: relative;
    text-align: center;
}

a > abbr {
    text-decoration: none;
}

a {
    color: var(--link-text-color, currentColor);
    text-underline-offset: .25ex;
}

a:hover,
a:focus {
    text-decoration: none;
}

:focus-visible {
    box-shadow: 0 0 0 var(--line-thin) var(--link-text-color); 
    outline: none;
}

figure img,
figure svg,
figure embed {
    height: auto;
    max-inline-size: 100%;
    vertical-align: middle;
}

:where(a) {
    text-underline-offset: .25ex;
}

ul, ol {
    padding-inline-start: var(--space-md);
}

figure.left {
    float: left;
    margin: 0 var(--space-md) var(--space-md) 0;
}

figure.center {
    text-align: center;
}

figure.right {
    float: right;
    margin: 0 0 var(--space-md) var(--space-md);
}

iframe {
    border: 0;
    width: 1px;
    min-width: 100%;
    vertical-align: middle;
}

blockquote {
    padding-inline: var(--space-md);
    position: relative;
    border-left: 2px solid var(--color-brand-a80, currentColor);
}

blockquote::before {
    background: var(--background-color-base);
    block-size: 100%;
    border-radius: var(--space-xxs);
    content: '';
    display: block;
    inline-size: var(--space-xs);
    inset-inline-start: 0;
    position: absolute;
}

pre {
    background-color: var(--background-color-base);
    border-radius: var(--radius-base);
    padding: var(--space-md);
}

table tr * {
    border-block-end: var(--line-base) solid var(--background-color-base);
    padding: var(--space-xs) var(--space-sm);
    text-align: left;
}

table tr *:first-child{
    padding-inline-start: 0;
}

table tr *:last-child {
    padding-inline-end: 0;
}


input:not([type="checkbox"], [type="radio"]),
textarea,
select {
    display: block;
    font-family: inherit;
    font-size: inherit;
    inline-size: 100%;
    padding: var(--space-xxs);
}

fieldset {
    border-color: var(--color-grey-100);
    padding: var(--space-sm) var(--space-md);
}

legend {
    font-size: var(--heading-4-size);
    font-weight: 600;
    padding-inline: var(--space-sm);
}

dt {
    font-weight: 600;
}

dd {
    border-block-end: var(--line-base) dashed var(--color-grey-100);
    margin-inline-start: 0;
}

dd + dt {
    margin-block-start: var(--space-sm);
}

details {
    padding-inline-start: var(--space-md);
}

summary {
    cursor: pointer;
    list-style: none;
    margin-block-end: var(--space-xxs);
    margin-inline-start: calc(var(--space-md) * -1);
    padding-inline-start: var(--space-md);
    position: relative;
}

summary::before {
    block-size: var(--space-xs);
    border-color: var(--text-color-base);
    border-style: solid;
    border-width: var(--line-base) var(--line-base) 0 0;
    content: "";
    display: block;
    inline-size: var(--space-xs);
    inset-block-start: .75rem;
    inset-inline-start: .25rem;
    position: absolute;
    transform: rotate(135deg);
    transform-origin: 60% 40%;
    transition: transform var(--duration-base);
}

details:not([open]) > summary:first-of-type::before {
    transform: rotate(45deg);
}


/* Layout: Content */
.content {
    grid-area: article;
    min-inline-size: 0; /* Fix: Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1418727 */
    order: 1;
}

.content div.info,
.content div.success,
.content div.warning,
.content div.error {
    margin-block-end: calc(var(--line-height-base) * 1rem);
    padding: var(--space-md);
}

.content div.info {
    background-color: var(--color-info-100);
    color: var(--color-info);
}

.content div.success {
    background-color: var(--color-success-100);
    color: var(--color-success);
}

.content div.warning {
    background-color: var(--color-warning-100);
    color: var(--color-warning);
}

.content div.error {
    background-color: var(--color-error-100);
    color: var(--color-error);
}


/* Module: Git branch menu */
#git-branch-menu {
    padding: var(--space-md);
    position: absolute;
}

/* Module: BPMN */
.bpmn {
    block-size: 0;
    padding-block-start: 75%;
    position: relative;
}

.bpmn > .bjs-container {
    cursor: move;
    inset-block-start: 0;
    position: absolute !important;
}

.bjs-powered-by {
    display: none;
}
