/* Element: Button */
button, .button {
    background-color: var(--button-background-base);
    border: 0;
    border-radius: var(--radius-base);
    color: var(--button-text-color);
    display: inline-block;
    min-height: var(--space-lg);
    padding: var(--space-sm) var(--space-md);
    text-decoration: none;
    transition: all var(--duration-base);
}

.button:active,
.button:hover,
.button:focus-visible,
button:active,
button:hover,
button:focus-visible {
    background-color: var(--button-background-active);
    color: var(--button-text-color-active);
    outline: none;
}

button[type="submit"] {
    font-weight: 600;
}
